---
name: MergeFolder
on: 
  workflow_dispatch:
  pull_request:
    branches: 
      - main
    types:
      - closed

  
  
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
           token: ${{ secrets.GITHUB_TOKEN }} 
      
      - name: Initiate Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"
      - name: Merge Json    
        run: python merge.py
        
      - name: Commit and push changes
        uses: devops-infra/action-commit-push@master
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          commit_message: ${{ github.event.commits[0].message }}
